h1 {
  color: rgb(239, 7, 7);
  font-size: 24px;
  text-align: center;
}
h4 {
  color: aqua;
}
p {
  color: rgb(0, 0, 0);
  font-size: 26px;
  text-align: left;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none; /*bỏ phần gạch dưới link  */
  color: black;
}
img {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
}

#menu {
  /* css */
  ol {
    li {
      display: inline-block;
      list-style-type: none;
      padding: 10px;
      background-color: rgb(255, 94, 231);
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  /* action */
  li:hover {
    background-color: rgb(255, 255, 255);
    color: white;
  }
}
#buoi4 {
  background-color: rgb(155, 168, 156);
  border: 2px solid black;
  position: relative;
  padding: 10px;
}

#noidung {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 10px;
  top: 10px;
}

p {
  font-size: 10px;
}

#box {
  transform: rotate(45deg);
  position: fixed;
  left: 50%;
  top: 50%;
}

.grid-container {
  /* turn on grid layout */
  display: grid;
  /* fr: fractional unit */
  /* 3 columns 1part 2part 1part */
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-columns: auto 1fr auto;
  /* khoang cach giua cac cot */
  gap: 10px;
  /* space */
}

.grid-item {
  background-color: rgb(144, 129, 129);
  padding: 20px;
  color: black;
  text-align: center;
  border-radius: 10px;
}

.item1 {
  /* keo tu cot nay qua cot khac */
  /* grid-column: 1 /3; */
  /* background-color: rgb(178, 152, 152); */
  grid-row: 1/3;
  grid-column: 1;
  /* từ hàng 1 đến hàng 3 */
}
}

.top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-decoration: none;
}

.banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.big {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: black;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.smail1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: red;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.smail2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: blue;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

#main-menu {
  list-style-type: none;
  text-align: center;
  justify-content: center;
  background-color: rgb(251, 251, 251);
  display: flex;
  li {
    padding: 10px;
    list-style-type: none;
  }
}
/*  */
.sub-menu1 {
  display: none;
}

#menu-2 li:hover .sub-menu1 {
  display: block;
}

.sub-menu1 {
  list-style-type: none;
}
.sub-menu1 {
  position: absolute;
}
#main-menu {
  position: relative;
}
.sub-menu1 li:hover {
  background-color: rgb(255, 159, 5);
}
/*  */
.sub-menu2 {
  display: none;
}

#menu-2 li:hover .sub-menu2 {
  display: block;
}
.sub-menu2 {
  list-style-type: none;
}
.sub-menu2 {
  position: absolute;
}
#main-menu {
  position: relative;
}

.sub-menu2 li:hover {
  background-color: rgb(255, 159, 5);
}
.sub-menu3 {
  display: none;
}

#menu-2 li:hover .sub-menu3 {
  display: block;
}
.sub-menu3 {
  list-style-type: none;
}
.sub-menu3 {
  position: absolute;
}
#main-menu {
  position: relative;
}

.sub-menu3 li:hover {
  background-color: rgb(255, 159, 5);
}

/*  */

.sub-menu4 {
  display: none;
}
#menu-2 li:hover .sub-menu4 {
  display: block;
}
.sub-menu4 {
  list-style-type: none;
}
.sub-menu4 {
  position: absolute;
}
#main-menu {
  position: relative;
}
.sub-menu4 li:hover {
  background-color: rgb(255, 159, 5);
}

/*  */

#menu-2 {
  background-color: rgb(199, 137, 14);
}

/*  */

.fade-in {
  opacity: 0;
  animation: abc 5s forwards;
}

@keyframes abc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in {
  position: relative;
  left: -100%;
  animation: abc 3s forwards;
}

@keyframes abc {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: 200px;
    top: 200px;
  }
}

.rotate {
  animation: abc3 0.001s linear infinite;
}

@keyframes abc3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1:hover {
  transform: scale(1.5);
}
#h1_hover {
  transition: scale 1s !important;
}
